/.tmp
/.hgtags
/.project
/.cproject
/config.h
Makefile
/config.log
/config.status
/config.cache
/autom4te.cache
/changes.patch
/ChangeLog
/libtool
.libs
.deps
*.lo
*.la
*.o
src/config.h.bak
src/config.h.in.bak
src/stamp-g1
.*~
*~
.revision
src/revision.h
src/sccp_enum.?
*.bak
*.diff
coverage/
chan_sccp-en_US.xml
TAGS
tags
